<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Renting_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginForm</display-name>
    <servlet-name>LoginForm</servlet-name>
    <servlet-class>rental_app_java.LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>rental_app_java.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>rental_app_java.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>rental_app_java.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPass</display-name>
    <servlet-name>ForgotPass</servlet-name>
    <servlet-class>rental_app_java.ForgotPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPass</servlet-name>
    <url-pattern>/ForgotPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAdd</display-name>
    <servlet-name>ProductAdd</servlet-name>
    <servlet-class>rental_app_java.ProductAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAdd</servlet-name>
    <url-pattern>/ProductAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqConstants</display-name>
    <servlet-name>ReqConstants</servlet-name>
    <servlet-class>rental_app_java.ReqConstants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqConstants</servlet-name>
    <url-pattern>/ReqConstants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>rental_app_java.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>rental_app_java.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>rental_app_java.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mailer</display-name>
    <servlet-name>Mailer</servlet-name>
    <servlet-class>rental_app_java.Mailer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mailer</servlet-name>
    <url-pattern>/Mailer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HTMLMailer</display-name>
    <servlet-name>HTMLMailer</servlet-name>
    <servlet-class>rental_app_java.HTMLMailer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLMailer</servlet-name>
    <url-pattern>/HTMLMailer</url-pattern>
  </servlet-mapping>
</web-app>